.special{
    border: 3px solid red;
    width: 100px;
    height: 100p;
    border-radius: 50%;
    background-color: darkorchid;
    transition: transfor 2s;
    margin: auto;

}

.special:hover{
    transform: rotateY(340deg);
}